<div mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">{{ data.name }} Forpus</h4>
                    <!-- <p class="card-category">Adicione </p> -->
                </div>
                <div class="card-body">
                    <form (submit)="onSave()">
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        [(ngModel)]="document.washer"
                                        name="washer"
                                        placeholder="Nº Anilha"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        [(ngModel)]="document.year"
                                        name="year"
                                        placeholder="Ano"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Criador</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.creator"
                                        name="creator"
                                    >
                                        <mat-option
                                            *ngFor="let creator of creators"
                                            [value]="creator"
                                            >{{ creator.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Sexo</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.gander"
                                        name="gander"
                                    >
                                        <mat-option
                                            *ngFor="let gander of ganders"
                                            [value]="gander"
                                            >{{ gander }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input
                                        matInput
                                        [(ngModel)]="document.weight"
                                        name="weight"
                                        placeholder="Peso (gramas)"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Linha</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.lineage"
                                        name="lineage"
                                    >
                                        <mat-option
                                            *ngFor="let lineage of lineages"
                                            [value]="lineage"
                                            >{{ lineage }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Fenotipo 1</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.phenotype1"
                                        name="phenotype1"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation.name"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Fenotipo 2</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.phenotype2"
                                        name="phenotype2"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation.name"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Fenotipo 3</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.phenotype3"
                                        name="phenotype3"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Fenotipo 4</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.phenotype4"
                                        name="phenotype4"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Genotipo 1</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.genotype1"
                                        name="genotype1"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Genotipo 2</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.genotype2"
                                        name="genotype2"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Genotipo 3</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.genotype3"
                                        name="genotype3"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Genotipo 4</mat-label>
                                    <mat-select
                                        [(ngModel)]="document.genotype4"
                                        name="genotype4"
                                    >
                                        <mat-option
                                            *ngFor="let mutation of mutations"
                                            [value]="mutation"
                                            >{{ mutation.name }}</mat-option
                                        >
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <button
                            mat-raised-button
                            type="submit"
                            class="btn btn-success pull-right"
                        >
                            Salvar
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
