<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="main-content">
    <div class="container-fluid" id="MainContainer">
        <div class="row" style="width: 100%">
            <div class="col-md-2">
                <button
                    class="btn btn-success"
                    mat-button
                    (click)="onOpenDialogCreate()"
                >
                    Novo
                </button>
            </div>
        </div>

        <div class="row" id="SubContainer">
            <div class="col-md-12" id="BodyContainer">
                <div class="card" id="CardContainer">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Forpus</h4>
                        <p class="card-category">Aves do Plantel</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-success">
                                    <th>#</th>
                                    <th>Anilha</th>
                                    <th>Ano</th>
                                    <th>Criador</th>

                                    <th>Fenótipo</th>
                                    <th>Genótipo</th>
                                    <th>Sexo</th>
                                    <th>Peso</th>
                                    <th>Ações</th>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let birdItem of birdsList;
                                            let index = index
                                        "
                                    >
                                        <td class="text-left">
                                            #{{ index + 1 }}
                                        </td>
                                        <td class="text-left">
                                            {{ birdItem.washer }}
                                        </td>
                                        <td class="text-left">
                                            {{ birdItem.year }}
                                        </td>
                                        <td class="text-left">
                                            {{ birdItem.creator.name }}:
                                            {{ birdItem.creator.code }}
                                        </td>

                                        <td class="text-left">
                                            {{ birdItem.phenotype1 }}
                                            {{ birdItem.phenotype2 }}
                                            {{ birdItem.phenotype3 }}
                                            {{ birdItem.phenotype4 }}
                                        </td>
                                        <td class="text-left">
                                            {{ birdItem.genotype1 }}
                                            {{ birdItem.genotype2 }}
                                            {{ birdItem.genotype3 }}
                                            {{ birdItem.genotype4 }}
                                        </td>
                                        <td class="text-left">
                                            {{ birdItem.gander }}
                                        </td>
                                        <td class="text-left">
                                            {{ birdItem.weight }}g
                                        </td>

                                        <!-- <td class="text-primary">$36,738</td> -->
                                        <td class="td-actions text-left">
                                            <button
                                                mat-raised-button
                                                type="button"
                                                matTooltip="Editar"
                                                (click)="
                                                    onOpenDialogEdit(birdItem)
                                                "
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </button>
                                            <button
                                                mat-raised-button
                                                type="button"
                                                matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                (click)="
                                                    onOpenDialogEdit(birdItem)
                                                "
                                                class="btn btn-danger btn-link btn-sm btn-just-icon"
                                            >
                                                <i class="material-icons"
                                                    >close</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
